<template>
	<div class="animation">
		<h1>Animation</h1>
		<router-view/>
		<p v-show="pause == true" class="animation__control" v-on:click="pause = false;animate()">Continue</p>
		<p v-show="pause == false" class="animation__control" v-on:click="pause = true;">Pause</p>
		<div class="animation__container">
			<svg class="animation__svg">
	  			<circle class="animation__element" r="30" cx="50" cy="30" fill="orange" />
			</svg>
		</div>
	</div>
</template>

<script>
export default {
	name: 'animation',
	data () {
		return {
			el: null,
			speed: 1,
			minSpeed: 0.4,
			timeOut: 10,
			pause: false,
			svg: null
		};
	},
	methods: {
		setAnimationElement: function(){

			this.el = document.querySelector('.animation__element');
			this.svg = document.querySelector('.animation__svg');
		},
		animate: function(){

			var y = parseFloat(this.el.getAttributeNS(null, 'cy')),
				svgHeight = parseInt(getComputedStyle(this.svg).height),
				newY;

			if(y + 30 >= svgHeight || y < 30){
				this.speed = this.speed * -1;
			}

			newY = y + this.speed;
			this.el.setAttributeNS(null, 'cy', newY.toString());

			if(this.pause === false){
				setTimeout(this.animate, this.timeOut);
			}
		}
	},
	created: function(){
		document.addEventListener('wheel', function(e){
			var boost = - e.deltaY / 50;
			if(this.speed > 0){
				if(this.speed + boost < 0){
					this.speed = this.minSpeed;
				}else{
					this.speed = this.speed + boost;
				}
			}else{
				if(this.speed - boost > 0){
					this.speed = - this.minSpeed;
				}else{
					this.speed = this.speed - boost;
				}
			}
		}.bind(this));
	},
	mounted: function(){

		this.setAnimationElement();
		this.animate();

	}
}
</script>

<style>
	.animation {
		text-align: center;
	}
	.animation__container {
		position: absolute;
		top: 50%;
		bottom: 0;
		left: 50%;
		margin-left: -50px;
		width: 100px;
	}
	.animation__control {
		display: inline-block;
		font-size: 2.2em;
		cursor: pointer;
		text-decoration: underline;
	}
	svg {
		max-width: 100%;
		height: 100%;
	}
</style>