<template>
	<div class="base-component">
		<h1>Test-task Vue</h1>
		<ul>
			<li>
				<p v-on:click="loadPage($event, 'draggableSortable')">Draggable-Sortable</p>
			</li>
			<li>
				<p v-on:click="loadPage($event, 'diagram')">Diagram</p>
			</li>
			<li>
				<p v-on:click="loadPage($event, 'animation')">Animation</p>
			</li>
		</ul>
		<router-view/>
	</div>
</template>

<script>
export default {
  name: 'base-component',
  data () {
    return {};
  },
  methods: {
  	loadPage: function(e, url){
  		this.$router.push({ name: url });
  	}
  },
}
</script>

<style>
	.base-component {
	  font-size: 62.5%;
	}
	svg {
		display: block;
		margin: 0 auto;
	}
	h1 {
		font-weight: normal;
		text-align: center;
		font-size: 3em;
		color: #c9c9c9;
		margin: 10px 0;
	}
	ul {
		text-align: center;
		padding: 0;
		margin: 0;
	}
	li {
		font-size: 2.2em;
		color: #42b983;
		cursor: pointer;
		list-style: none;
		display: inline-block;
		margin: 5px;
	}
	li > p {
		margin: 10px
	}
</style>
