<template>
	<div class="diagram">
		<h1>Diagram</h1>
		 <input class="diagram__values" v-model='values' @change="setData(values)">
		 <div class="diagram__toggle-container">
		 	<p v-show="viewType == 'linear'" class="diagram__toggle" v-on:click="viewType = 'bar';showDiagram().bar()">Bar view</p>
		 	 <p v-show="viewType == 'bar'" v-on:click="viewType = 'linear';showDiagram().linear()" class="diagram__toggle">Linear view</p>
		 </div>
		<router-view/>
	</div>
</template>

<script>
	
export default {
	name: 'diagram',
	data () {
		return {
			values: [5,10,7,11,5,13,10,5,11,5,12,8],
			// values: [1,2,3,4,5,6],
			elems: {
				svg: document.createElementNS("http://www.w3.org/2000/svg", 'svg'),
				rect: document.createElementNS("http://www.w3.org/2000/svg", 'rect'),
				g: document.createElementNS("http://www.w3.org/2000/svg", 'g'),
				text: document.createElementNS("http://www.w3.org/2000/svg", 'text'),
				line: document.createElementNS("http://www.w3.org/2000/svg", 'line')
			},
			svgReal: null,
			viewType: 'linear',
			colMaxHeight: 40,
			colMargin: 5,
			plotWidth: 900,
			plotHeight: 350,
			lastCalled: 'linear'
		}
	},
	methods: {
		setData: function(data){
			var newData = [];
			if(data){
				newData = data.split(",").filter(function(value){
					return !isNaN(parseInt(value, 10));
				});
				newData = newData.map(function(value){
					return parseInt(value, 10);
				});

				this.values = newData;
				this.showDiagram()[this.lastCalled]();
			}

		},

		showDiagram: function(){
			var values = this.values,
				plotHeight = this.plotHeight,
				plotWidth = this.plotWidth,
				colMaxHeight = this.colMaxHeight,
				colMargin = this.colMargin,
				intervalY = plotHeight / Math.max.apply(null, this.values),
				intervalX = plotWidth / (this.values.length + 1);

			var fnObj = {
				scale: function(){
					var newLine,
						lineObj;


					// x axis
					for(var i = 1; i < this.values.length + 2; i++){

						// vertical lines
						// this.renderSvg('line', {
						// 	x1: (intervalX * i) + 50 + "",
						// 	y1: plotHeight + "",
						// 	x2: (intervalX * i) + 50 + "",
						// 	y2: "0",
						// 	stroke: '#000',
						// });

						this.renderSvg('text', {
					    	textValue: i,
					    	y: this.plotHeight + 30 + "",
					    	x: (intervalX * i) + 50 + ""
					    })

					}

					// zero
					this.renderSvg('text', {
				    	textValue: "0",
				    	y: plotHeight + "",
				    	x: "23"
				    })

					// y axis
					for(var i = 1; i < Math.max.apply(null, this.values); i++){
						this.renderSvg('line', {
							x1: "50",
							y1: intervalY * i + "",
							x2: plotWidth + 50 + "",
							y2: intervalY * i + "",
							stroke: '#000',
						});

						this.renderSvg('text', {
					    	textValue: Math.max.apply(null, this.values) - i,
					    	y: (intervalY * i) + "",
					    	x: "23"
					    })

					}
				
				}.bind(this),
				linear: function(){

					this.clear();

					this.showDiagram().scale();

					this.values.reduce(function(prev, cur, index){
						this.renderSvg('line', {
							x1: (intervalX * index) + 50 + "",
							y1: plotHeight - (intervalY * prev) + "",
							x2: (intervalX * (index + 1)) + 50 + "",
							y2: plotHeight - (intervalY * cur) + "",
							stroke: this.getRandColor() + "",
							strokeWidth: "3"
					    });
					    return cur;
					}.bind(this));

					this.lastCalled = 'linear';

				}.bind(this),
				bar: function(){
					this.clear();

					this.showDiagram().scale();

					var plotHeight = this.plotHeight - 50,
						plotWidth = this.plotWidth,
						colWidth = plotWidth - (this.values.length * (colMaxHeight + colMargin)) > 0 ? colMaxHeight : (plotWidth - (this.values.length * colMargin)) / this.values.length,
						offsetForCentering = (plotWidth - (this.values.length * (colWidth + colMargin))) / 2;

					values.forEach(function(v, index){
						this.renderSvg('rect', {
							width: colWidth + "",
							height: (v * intervalY) + "",
							x: (intervalX * (index + 1)) + 50 - (colWidth / 2) + "",
							y: plotHeight - (v * intervalY) + 50 + ""
						}).style.fill = this.getRandColor() + "";

						this.lastCalled = 'bar';

					}.bind(this));
				}.bind(this)
			}

			return fnObj;
		},
		clear: function(){

			if(this.svgReal !== null && this.svgReal.children.length){
				var svgChildrenArr = Array.prototype.slice.call(this.svgReal.children),
					el;
				while(svgChildrenArr.length){
					el = svgChildrenArr.pop();
					el.parentElement.removeChild(el);
				}
			}
			this.renderSvg('line', {
				x1: "50",
				y1: this.plotHeight + "",
				x2: "50",
				y2: "0",
				stroke: '#000',
			}); 
			this.renderSvg('line', {
				x1: "50",
				y1: this.plotHeight + "",
				x2: this.plotWidth + 50,
				y2: this.plotHeight + "",
				stroke: '#000',
			}); 
		},
		setupSvg: function(el, valueObj){
			if(el.nodeName === 'g'){
				el.classList.add('bar');
			}
			if(el.nodeName === 'text'){
				el.classList.add('svg-text');
			}
			for(var prop in valueObj){

				if(prop === "textValue"){
					el.innerHTML = valueObj[prop];
					continue;
				}
				if(prop === "strokeWidth"){
					el.setAttributeNS(null, "stroke-width", valueObj[prop]);
				}
				if(prop === "alignCenter"){

					var w = el.getBBox().width,
						h = el.getBBox().height,
						initial,
						offset;

					if(valueObj[prop][0] === 'linear'){
						offset = ( valueObj[prop][1] - h ) > 0 ? ( valueObj[prop][1] - h ) / 2 : 0;
						if(offset === 0){
							el.style.fontSize = valueObj[prop][1] + "px"
						}
						initial = parseInt(el.getAttributeNS(null, 'y'));
						el.setAttributeNS(null, 'y', initial - offset + "");
					}

					if(valueObj[prop][0] === 'bar'){

						offset = ( valueObj[prop][1] - w ) > 0 ? ( valueObj[prop][1] - w ) / 2 : 0;
						if(offset === 0){
							el.style.fontSize = valueObj[prop][1] + "px"
							continue;
						}
						initial = parseInt(el.getAttributeNS(null, 'x'));
						el.setAttributeNS(null, 'x', initial + offset + "");
					}
					continue;
				}

				el.setAttributeNS(null, prop, valueObj[prop]);

			}
		},
		appendSvg: function(elem){
			if(this.svgReal){
				this.svgReal.appendChild(elem);
			}
		},
		renderSvg: function(elemStr, obj){

			var newElem;

			if(elemStr in this.elems){
				newElem = this.elems[elemStr].cloneNode(false);
				this.appendSvg(newElem);
				this.setupSvg(newElem, obj);
			}

			return newElem;

		},
		getRandColor: function(){
			var color = "",
				n = 0;
			for(var i = 0; i < 6; i++){
				n = Math.round(Math.random() * 15);
				n = n.toString(16);
				color += n;
			}
			return "#" + color;
		}
	},
	mounted: function(){
		var svg = this.elems.svg.cloneNode(false),
			svgObject = {	
				width: this.plotWidth + 50,
				height: this.plotHeight + 50
			};
		this.svgReal = svg;
		this.setupSvg(svg, svgObject);

		document.querySelector('.diagram').appendChild(svg);

		this.showDiagram().linear();
	}
}
</script>

<style>
	.diagram {
		text-align: center;
	}
	.diagram__values {
		font-size: 3em;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
	}
	.bar {
		fill: #4286f4;
		font-size: 2.9em;
	}
	.svg-text {
		fill: #142033;
	}
	.diagram__toggle-container {
		position: relative;
	}
	.diagram__toggle {
		display: inline-block;
		text-decoration: underline;
		cursor: pointer;
		font-size: 2.2em;
		margin: 0 0 20px 0;
	}
</style>