<template>
  <div class="draggable-sortable">
    <h1>Draggable-Sortable</h1>
    <draggable class="draggable-sortable__container" v-model='list' :options="{animation: 200, draggable:'.draggable-sortable__item'}" @change="updateOrder">
      <div v-for="item in list" class="draggable-sortable__item" :key="item.id">
        <span class="item__number" v-model='list.order'>
          {{ item.order }}
        </span>
        <input v-focus :key="item.id" class="item__name" v-show="item.edit == true" v-model='item.name' @keyup.enter="item.edit = false;updateName($event, item); $emit('update')" @keyup.esc="item.edit = false;updateName($event, item); $emit('update')">
        <span class="item__name" v-show="item.edit == false" v-model='item.name' v-on:dblclick="item.edit = true; hideInputs(item)">
          {{ item.name }}
        </span>
      </div>
    </draggable>
    <router-view/>
  </div>
</template>

<script>

import draggable from 'vuedraggable'

var focus = {
  componentUpdated(el) {
    el.focus()
  }
}

export default {
  name: 'draggableSortable',
  components: { draggable },
  directives: { focus },
  data: function(){
      var storageList = localStorage.getItem('DSLastOrder'),
        list = [
          {
            name: 'John Bonem',
            order: 1,
            id: 0,
            edit: false
          },
          {
            name: 'Travis Barker',
            order: 2,
            id: 1,
            edit: false
          },
          {
            name: 'Chad Smith',
            order: 3,
            id: 2,
            edit: false
          },
          {
            name: 'Jonas Jordison',
            order: 4,
            id: 3,
            edit: false
          },
          {
            name: 'Branden Steineckert',
            order: 5,
            id: 4,
            edit: false
          }
        ];
      return storageList === null ? {list: list} : {list: JSON.parse(storageList)};
    },
  methods: {
    updateOrder: function(e){
      this.list.forEach(function(el, index){
        el.order = index+1;
      });
      localStorage.setItem('DSLastOrder', JSON.stringify(this.list));
    },
    updateName: function(e, item){
      this.list.indexOf(item) !== -1 ? this.list[this.list.indexOf(item)].name = item.name : null;

      localStorage.setItem('DSLastOrder', JSON.stringify(this.list));
    },
    hideInputs: function(item){
      this.list.forEach(function(el){
        if(el.id !== item.id){
          el.edit = false;
        }
      })
    }
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
li {
  display: inline-block;
  margin: 0 10px;
}
input {
  font-family: 'Sans Sefir';
  border: none;
  margin: 0;
  font-size: inherit;
  text-align: center;
}
.draggable-sortable__container {
  max-width: 300px;
  margin: 40px auto;
  font-size: 2.2em;
}
.draggable-sortable__item {
  position: relative;
  display: block;
  margin: 30px 0;
  padding: 3px 0;
  border-radius: 5px;
  text-align: center;
  background: #d9d9d9;
  cursor: move;
  line-height: 28px;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.10), 0 3px 3px 0 rgba(0,0,0,0.19), 0 1px 1px 0 rgba(0,0,0,0.1);
}
.item__number {
  position: absolute;
  left: 20px;
}

</style>